#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 8px;
    padding: 10px;
    font-size: 20px;
    background: #404040;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

/*#icon-menu:hover{
    background: #787e77;
}*/

.LB{
    display: none;
}

/* Responsive Desing - adaptables a dispositovos mobiles*/

@media screen and (max-width: 1019px){
     
    .container
    .md\:py-6{
        max-width: 1000px;
        padding:  20px;
    }

}

@media screen and (max-width: 489px){

    .JB{
        display: none; 
    }

    .LB{
        display: flex;
    }

}

@media screen and (max-width: 395px){
    .LB{
        display: none;
    }
}

@media screen and (max-width: 365px){
.container-all{
    transition: all 300ms cubic-bezier(1,0,0,1);
}

.move-container-all{
    transform: translateX(187px);
}

      .menu{
          width: 0px;
          height: 99vh;
          position: fixed;
          top: 55px;
          left: 0;
          background: #404040;
          overflow: hidden;
          transform: translateX(-350px);
          box-shadow: 10px 0 20px -25px black;
          transition: all 300ms cubic-bezier(1,0,0,1);
          
      }


      .show-lateral{
          width: 201px;
          transform: translateX(0px);
      }

      .menu nav ul{
          flex-direction: column;
      }

      .menu nav ul li{
          max-width: 200px;
          height: 50px;
          justify-content: center;
      }

      #icon-menu{
        display: initial;
      }

      /*.JB{
        display: initial; 
    }*/
}
