::-webkit-scrollbar {
    display: none;
}

.contenedor{
    width: 655px;
    height: 98vh;
    float: right;
    border: 0px solid black;
}

.dos{
    width: 655px;
    height: 98vh;
    background-color: rgba(255, 0, 0, 0.281);
    float: right;
}

.dos img{
  width: 200px;
  display:block;
  margin:auto;
}

.dos p{
    font-size: 60px;
    text-align:center;
    border:1px dotted transparent; 
    padding: 125px 8px;
}

.uno h1{
    float: left;
    justify-content: center;
    font-size: 100px;
    margin: 200px;
    margin-top: 310px;
}

.iheader{
    width: 100%;
    height: 95px;
}