@charset "utf-8";

#topnavbar {
    background: #101010;
    position: relative;
    overflow: hidden;
    height: 145px;
    margin-top: -35px;
    margin-right: -25px;
    margin-left: -25px;
    margin-bottom: 15px;
}

div#supporticons {
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 10px;
}

#supporticons div {
    margin-right: 135px;
}

#supporticons div:last-child {
    margin-right: auto !important;
}

.hovershadow {
    padding: 0px;
    width: 70px;
    height: 80px;
    margin: 0 auto;
    opacity: 1.0;
    filter: alpha(opacity=0);
  }
  
  .hovershadow:hover {
    opacity: 0.5;
    padding: 0px;
    filter: alpha(opacity=30);
  }

.installerblur-inside {
  position: relative;
}

    #caption {
        text-align: center;
        font-size: 35px;
        font-family: -apple-system, Sans-Serif;
        font-weight: bold;
        color: white;
        margin-top: 5px;
}

    #emailicon {
        background: url("../emailicon.png");
        height: 65px;
        width: 75px;
        background-size: contain;
        background-repeat: no-repeat;
}
    #githubicon {
        background: url("../githubicon.png");
        height: 65px;
        width: 75px;
        background-size: contain;
        background-repeat: no-repeat;
}

    #redditicon {
        background: url("../redditicon.png");
        height: 75px;
        width: 85px;
        background-size: contain;
        background-repeat: no-repeat;
}

    #twittericon {
        background: url("../twittericon.png");
        height: 70px;
        width: 80px;
        background-size: contain;
        background-repeat: no-repeat;
}