/*@font-face {
    font-family: OpenSans-Regular; 
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular.woff') format('woff'),
         url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: titillium-web-bold; 
     src: url('fonts/titillium-web-bold.eot');
    src: url('fonts/titillium-web-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/titillium-web-bold.woff') format('woff'),
         url('fonts/titillium-web-bold.ttf') format('truetype');
}*/

/*Este es el que se adjunta*/

html {
	background: #DCE3E6;
}

img{
	max-width:700px;
	
}	

body {
	/*columns: 30em; pone las columnas a la pagina*/ 
	column-gap: 50px;
	margin: 6em 3% 19em 3%;
	background: #fff;
	color: #333;
	font-family: OpenSans-Regular;
	font-size-adjust: 0.45;
	box-shadow: 0 .3em 1em #000;
	margin-top: 2em;
	margin-bottom: 2em;
    word-break: break-word;
	position: relative;
	min-width: 1000px;
	
 }
 
 /*DIVS DE CABECERA*/
 #visor-cabecera{
	width:100%;
	height:auto; 
	left: 0;
	right: 0;
	float: left;
	border-bottom: 0px solid rgb(141,27,52);
}
.herramientas {
	margin-top:40px;
	width:100%;
	height:50px;
	margin-bottom:20px:
}

#logo-r{
	float:left;
	position:relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 275px;
    height: 100%;
	left:110px;
	margin-bottom:20px;
}

.redalyc-s{
	float: right;
	position:relative;
	right:55px;
	font-family:Helvetica;
	color:#777777;
	font-size: 16px;
	line-height: 16pt;
	font-size-adjust: none;
	text-align:right;
	width: 275px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}



 /*DIVS DE ARTICULO*/
 #articulo{
	width:70%;
	left:15%;
	position:relative;
	color:#777777;
}

#articulo-body, #back, .articulo-resumen, .articulo-resumen-traduccion{
	text-align: justify;
	word-wrap: break-word;
}
#articulo-body.articulo-resumen-traduccion{
	text-align: justify;
	word-wrap: break-word;
}

/*front*/

#front > *:not(#articulo-meta){
	float:left;	
}

#articulo-meta{
	width: 80%;
	float: right;
	color: rgb(141,27,52);
	font-weight: bold;
	text-align: right;
	font-size-adjust: none;
}

#articulo-meta > .articulo-titulo{
	font-size: 19.56pt;
}

#articulo-meta > .articulo-titulo-traduccion{
	font-size: 22px;
}

#articulo-acerca{
	
}

#ficha-general{
	border: solid;
	border-color: rgb(127,129,128);	
	border-width: .876pt 0px;
	padding: 10px 0px;
	font-size: 12pt;
}

.autor{
	padding-bottom: 13px;
}

#autores-articulo > .nombre-completo{
	display: block;
}

#autores-articulo .nombre, #autores-articulo .apellidos, .doi, .nombre-fecha, .funding, .collab{
	font-weight: bold;
}

.resumen, .resumen-trans {
	display: block;
	color: #E4801e;
	font-size: 12pt;
}

/*.articulo-palabras > .negrita:first-child, .articulo-palabras-traduccion > .negrita:first-child{
	display: block;
	color: #E4801e;
	font-size: 12pt;
}*/

.capital{
	font-size: 11pt;
}

#articulo-body{
	float:left;
	width: 100%
}

#back{
	float:left;
}

/*DIV CREDITO*/
#creditos{
	/*
	width: 100%;
	height: 28px;
	background-color: #E4801e;
	color: #efeded;
	bottom: 0;
	left: 0;
	font-size: 16px;
	text-align: center;
	float: left;
	clear: left;*/
     /* margin: 0 -20px -5px -20px; /* Room below for #banner menu -70px -20px 0px -20px*/
  /*padding: .6em 1em;*/
   /* padding: 20px 0px 12px 260px;*/
       width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    /*color: #efeded;*/
    bottom: 0;
    left: 0;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#creditos .creditos-logo{
	background-image: url(https://redalyc.org/jatsRepo/img/redalyc-378px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 189px;
    height: 100%;
	padding-left: 7px;
}

/*ESTILOS PALABRAS INDIVIDUALES*/

.italica{
	font-style: italic;
}

.negrita{
	font-weight: bold;	
}

.negrita.seccion{
	color: #E4801e;
}

.romanos, .titulo, .subtitulo{
    font-family: OpenSans-Regular;
	font-variant: small-caps;
	letter-spacing: 1px;
}

.underline{
	text-decoration: underline;
}

.superindice{
	vertical-align: super;
	font-size: 10px;
}

.subindice{
	vertical-align: sub;
	font-size: 10px;
}

.sangria{
	text-indent: 15px;
}

.quote{
	font-style: italic;
    margin-left: 25px;
    margin-right: 25px;
}

.numeracion{
	/*list-style-type: decimal;*/
	list-style-type: none;
}

.vinietas{
	list-style-type: inherit;
}

.alpha-lower{
	list-style-type: lower-alpha;
}

.alpha-upper{
	list-style-type: upper-alpha;
}

.roman-lower {
	list-style-type: lower-roman;
}

.roman-upper {
	list-style-type: upper-roman;
}

.simple {
	list-style-type: none;
}

.capital::first-letter{
	font-weight: bold;
}

.imagen-formula{
	margin-top: 20px;
}

.imagen{
	page-break-inside:avoid;
}

 a {
    color: #e41e1e;
    text-decoration: none;
}

.vinietas{
	margin-left: -10px;
	font-size: 14px;
}

.texto-inciso{
	font-size: 14px;
	margin-left: 30px;
}

.inciso{
	margin-left: -15px;
	width: 15px;
	display: inline-block;
}

.imagen-formula{
	margin-top: 20px;
}

.capital::first-letter{
	font-weight: bold;
}

.captionS{
    text-align: center;
	font-weight: bold;
}

.num-rev{
	font-weight: bold;
}

h1, h2, h3{
    color: #E4801e;
}	

.fechas-h, .url-r, .ficha, .financiamientos-r{
	line-height:5px;
}		

.url-r, .ficha{
	padding-bottom:1pt;
}	

.fechas-h{
	padding-top: 7pt;
}

/* ESTILO PARA LAS IMÃƒï¿½GENES EN EL TEXTO */
.cuadro{
	width: auto;
	border: 1px solid #E4801e;
	padding: 10px;
	text-align: center;
	color: #515151;
	background-color: #efeded;
	
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.cuadro img{
	max-width: 700px;
	height: auto;
}

.inlineImage {
    max-height: 14px;
    width: auto;
    position: relative;
    top: 2px;
    display: inline;
}

.formula{
	margin-top: -17px;
}

.imagen{
	margin:auto;
	page-break-inside:avoid;
}

.imagen img{
	max-width: 700px;
}

.imagen{
	page-break-inside:avoid;
	text-align: center;
}

.formula .MathJax_SVG, .imagen-formula{
	margin-right: 5%;
}

/*NOTAS*/

.nota{
	font-size: 12pt;
	margin-left: 20px;
}

.nota > p{
	margin-top:0px;
	margin-bottom:0px;
}

.nota > p:last-child{
	margin-bottom:16px;
}

.nota-autor{
	 font-size: 12pt;
	 margin-left: 20px;
}

.label{
	width: 15px;
	font-weight: bold;
}

.referencia{
	font-size: 12pt;
	margin-left: 15px;
	text-indent: 0px;
}

.bibliografia{
	font-size: 12pt;
	margin-left: 15px;
	text-indent: -15px;
    font-size-adjust: 0.45;
	margin-left: 35px;
}

.apendice{
	font-size: 12pt;
}
.art-title , .statement{
	line-height: normal;
}

.editor{
	color: #7f8080;
	font-size: 13px !important;
}

.publisher{
	line-height: 23px;
}

.word-black{ 
	font-weight: bold; 
}

p[class="verso"]{
	margin-left: 15%;
    margin-right: 15%;
    font-size: 12px;
	text-align: left !important;
}

.verso-title{
	font-weight: bold;
}

.verso{
	font-style: italic;
}

#tabla-flotante table, #imagen-flotante table{
	border-collapse:collapse;
}

#tabla-flotante table > tbody >tr:first-child, #imagen-flotante table > tbody >tr:first-child{
	border-bottom: solid 1px;
	border-top: solid 2px;
}

#tabla-flotante table > tbody > tr:last-child, #imagen-flotante table > tbody > tr:last-child{
	border-bottom: solid 2px;
}

.contenedor-tabla{
	text-align: initial;
	max-height: 600px;
	overflow: auto;
	display: flex;
	-webkit-justify-content: center;
	-o-justify-content: center;
	-moz-justify-content: center;
	
}

.contenedor-tabla table {
	word-break: initial !important;
	border-collapse:collapse;
}

.contenedor-tabla table > tbody >tr:first-child{
	border-bottom: solid 1px;
	border-top: solid 2px;
}

.contenedor-tabla table > tbody > tr:last-child{
	border-bottom: solid 2px;
}

.product-portada-col , .product-portada-img , .product-portada-img  > img{
	max-width: 80px;
}

.product-portada-data{
	font-weight: initial;
    font-size: 12px;
}

#articulo-categoria{
	font-size: 17px;
	color: #FE811C;
	font-weight: bold;
}

.cssToolTip {
    position: relative;
    color: #ff8c00;   
}

.cssToolTip span {
	max-height: 138px;
	width: 350px;
	right: auto;
	bottom: auto;
	display: none;
	position: absolute;
	background-color: #efeded;
	padding: 10px 20px;
	display: none;
	z-index: 2;
	text-align: left;
	overflow: hidden;
	color: white;
	background-color: #e7801f;
	border-radius: 8px;
	font-size: 14px;
}

.cssToolTip:hover span {
    display: inline;
}