.LB, .Fir, .No{
    display: none;
}

@media screen and (max-width: 296px){
    .LB, .Fir, .No{
        display: table-cell;
    }
    .TB, .Firm, .NoFir, .descripcion{
        display: none;
    }
}
