#14{
	width: 1242px;
	height: 2208px;
	
	animation-name: slidein;
	animation-duration: 5s
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-direction:alternate-reverse;	
	animation-timing-funtion: linear;
}

#14:hover{
	animation-play-state:paused;
}

@-webkit-keyframes slidein{
	0%{
		width: 1242px;
		height: 2208px;
		background: url(14/IMG_0013.png)
	}
	
	0%{
		width: 1242px;
		height: 2208px;
		background: url(14/IMG_0014.png)
	}
	
}