@use postcss-preset-env {
	stage: 0;
  }
  
  /* helpers/grid.css */
  
  .grid {
	inline-size: 90%;
	margin-inline: auto;
	max-inline-size: 48em;
  }
  
  /* helpers/sticky.css */
  
  .sticky {
	position: sticky;
	will-change: transform;
  }
  
  .sticky--top {
	top: 0;
  }
  
  /* layout/base.css */
  
  * {
	box-sizing: inherit;
  }
  
  html {
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.75;
	margin: 0;
	min-block-size: 100vh;
  }
  
  /* layout/header.css */
  
  .header {
	background-color: rgb(63, 63, 63);
	padding-block: 0em;
  }
  
  
  .header::after {
	bottom: 0;
	box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
	content: '';
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.3s;
	z-index: -1;
  }
  
  .header.is-active::after {
	opacity: 1;
  }
  
  /* layout/main.css */
  
  .main {
	padding-block: 6em;
  }
  
  /* modules/headline.css */
  
  h1 {
	margin-block: 0 0.5em;
  }
  
  /* modules/navigation.css */
  
  .navigation__list {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .navigation__list--inline {
	display: flex;
	gap: 1.5em;
  }
  
  .navigation__link {
	color: inherit;
	display: block;
	padding-inline: 1em;
	text-decoration: none;
  }
  
  .navigation__link:hover {
	background-color: rgb(112, 112, 112);
	border-radius: 999em;
	color: #fff;
  }

  .navigation__item{
	color: white;
	padding: 1px;
	margin-top: 20px;
  }

  .logo-header{
	width: 50px;
float: left;

  }

  .navigation{
	padding: 5px;
  }
  
  /* modules/paragraph.css */
  
  p {
	padding-block: 1.5em;
  }

  .navigation__item{
    cursor: pointer;
}