.JB2{
    display: none;
}

.JB3{
    display: none;
}

@media screen and (max-width: 407px){
    .JB1{
        display: none;
    }

    .JB2{
        display: flex;
    }
}

@media screen and (max-width: 315px){
    .JB3{
        display: flex;
    }

    .JB2{
        display: none;
    }
}